.window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    overflow: auto;
}

.contentWrapper {
    width: 100%;
    border-radius: .25rem;
    /*border-radius: .25rem .25rem 0 0;*/
}

.page-enter .home{
    animation: slideInLeft 0.5s forwards;
}
.page-exit .home{
    animation: slideOutLeft 0.5s forwards;
}

.page-enter .about{
    animation: slideInRight 0.5s forwards;
}
.page-exit .about{
    animation: slideOutRight 0.5s forwards;
}


.catalogBar {
    color: #fff;
    min-height: 50px;
    justify-content: space-around;
    display: flex;
    position: relative;
    align-items: center;
}

.catalogBar a {
    color: #fff;
}

.catalogBar a:hover {
    color: #fff;
}


